body {
  font-family: Menlo;
}

label {
  display: block;
  line-height: 2;
}

.error {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: small;
  background-color: rgb(250, 230, 230);
  color: rgb(185, 40, 40);
}

#phoneDescription {
  font-size: small;
}
